# Dependencies
node_modules/
**/node_modules/

# Environment variables & secrets
.env
*.env
!.env.example
**/.env

# Build outputs
dist/
build/
**/dist/
**/build/

# Database files
*.sqlite
*.db

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
